<h2>calculate how much to ship your package anywhere in the world!</h2>
<form action="/shipping_cost" method="post">
  <div class="form-group">
     <label for="width">width</label>
     <input name="width" class="form-control" type="number"required>
     <label for="height">height</label>
     <input name="height" class="form-control" type="number"required>
     <label for="depth">depth</label>
     <input name="depth" class="form-control" type="number">
     <label for="weight">weight</label>
     <input name="weight" class="form-control" type="number"required>
     <br>
     <div class="form-check">
       <label class="form-check-label">
         <input class="form-check-input" type="checkbox" name ="gift-wrap">
         add gift wrapping?
       </label>
     </div>
  </div>
  <hr>
  <button action="/" class="btn btn-success">cost</button>
</form>
